/* mobile-container */
.mobile-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

/* product-container style */
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-top: 100px;
    margin-left: 20px; 
    margin-right: 10px;
}

/* cart-container style*/
.cart-container{
    background-color: #e6eaec;
    color: black;
}

/* product-container responsive */
@media (min-width: 1281px) {
    .product-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin-right: 0;
        /* padding-top: 100px; */
    }
    
  }
@media (min-width:320px) and (max-width:420px){
    .product-container{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-right: 0;
        padding-top: 100px;
    }
}

/* cart-container responsive */
@media (min-width: 1281px) {
    .cart-container{
        /* width: 100%;  */
        /* position:absolute; */
        /* top: 100; */
    }
    
  }
@media (min-width:320px) and (max-width:420px){
    .cart-container{
        width: 100%; 
        position:absolute;
        top: 100;
        justify-content: center;
        /* position: sticky; */
    }
}
